.venv
.vsocde/*
data_ingestion/src/__pycache__/*
data_ingestion/__pycache__/*
utils/__pycache__/*
data_prep/src/__pycache__/*
raw/*
data_prep/__pycache__/*
prep/*
prep copy/*
data_load_into_bigquery/__pycache__/*
logs/*
dags/__pycache__/*
run.sh
